.momoiro-egao {
  $background-color = #ff5ea2;
  $background-dark-color = #e65594;
  $theme-color = #ff1493;
  $theme-dark-color = #ffcde3;

  @import "../_theme";
}

body.momoiro-egao {
  background-image: url('../../images/ni.jpg');
}
