.orange-cheers .sidebar {
  color: #ff9228; }
  .orange-cheers .sidebar .top-menu a {
    color: #f8b500; }
  .orange-cheers .sidebar .social a {
    color: #ff9228; }
  .orange-cheers .sidebar li:hover {
    background-color: #e68026; }
    .orange-cheers .sidebar li:hover a {
      color: #ffe6cd; }

.orange-cheers .top {
  background: #ff9228;
  border-top-color: #e68026; }
  .orange-cheers .top h1 {
    color: #ffe6cd; }
  .orange-cheers .top a {
    color: #ffe6cd; }
