.orange-cheers {
  $background-color = #ff9228;
  $background-dark-color = #e68224;
  $theme-color = #f8b500;
  $theme-dark-color = #ffe6cd;

  @import "../_theme";
}

body.orange-cheers {
  background-image: url('../../images/ho.jpg');
}
