.ring-a-yellow-bell {
  $background-color = #fada54;
  $background-dark-color = #e1c34c;
  $theme-color = #ffd900;
  $theme-dark-color = #fff5cd;

  @import "../_theme";
}

body.ring-a-yellow-bell {
  background-image: url('../../images/rin.jpg');
}
