.violet-moon {
  $background-color = #a93de1;
  $background-dark-color = #9536c8;
  $theme-color = #5a4498;
  $theme-dark-color = #eecdff;

  @import "../_theme";
}

body.violet-moon {
  background-image: url('../../images/no.webp');
}
