.wakakusa-no-season {
  $background-color = #43d13f;
  $background-dark-color = #3bb845;
  $theme-color = #3eb370;
  $theme-dark-color = #cfffcd;

  @import "../_theme";
}

body.wakakusa-no-season {
  background-image: url('../../images/ha.jpg');
}
