.sidebar {
  color: $background-color;
  .top-menu a {
    color: $theme-color;
  }
  .social a {
    color: $background-color;
    &.active {
      color: $background-dark-color;
    }
  }
  li {
    a.active {
      color: $background-dark-color;
    }
    &:hover {
      background-color: $background-dark-color;
      a {
        color: $theme-dark-color;
      }
    }
  }
}

.top {
  background: $background-color;
  border-top-color: $background-dark-color;
  h1 {
    color: $theme-dark-color;
  }
  a {
    color: $theme-dark-color;
  }
}

.loader .spinner {
  background-color: $background-color;
  background-blend-mode: screen;
}