.sidebar {
  color: $background-color;
  .top-menu a {
    color: $theme-color;
  }
  .social a {
    color: $background-color;
    &.active {
      color: $background-dark-color;
    }
  }
  li {
    a.active {
      color: $background-dark-color;
    }
    &:hover {
      background-color: $background-dark-color;
      a {
        color: $theme-dark-color;
      }
    }
  }
}

.top {
  background-color: $background-color;
  border-top-color: $background-dark-color;
  h1 {
    color: $theme-dark-color;
  }
  a {
    color: $theme-dark-color;
  }
}

.nav-links {
  .page-number.current {
    color: $theme-color
  }
}

.full-page-loader {
  .lds-pacman > div:nth-child(2) div {
    background-color: $background-color;
  }
  .lds-pacman > div:nth-child(1) div {
    background-color: $theme-color;
  }
}

.comment-box {
  .comment-send {
    input[type=button] {
      background-color: $background-color;
      color: #fff;
    }
  }
}

.post-content {
  a {
    color: $theme-color;
  }
  table {
    tr:nth-child(2n) {
      background-color: $theme-dark-color;
    }
  }
  blockquote {
    border-color: $theme-color;
    background-color: $theme-dark-color;
  }
}

.comment {
  a {
    color: $theme-color;
  }
}
