.comment-box {
  * {
    box-sizing: border-box;
  }
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  .comment-send {
    textarea {
      width: 100%;
      margin: 0.25rem 0;
      padding: 1rem;
      height: 8rem;
      background: #f4f6f7;
      border: 0;
      resize: vertical;
    }
    .author-info {
      margin: 0.25rem 0;
    }
    input {
      &.reply-btn {
        @media (min-width: 865px) {
          width: 12%;
          margin: 0 0.25%;
        }
        @media (min-width: 675px) and (max-width: 865px) {
          width: 24%;
          margin: .5rem 0.5%;
        }
        @media (max-width: 675px) {
          width: 49%;
          margin: .5rem 0.5%;
        }
      }
      @media (min-width: 865px) {
        width: 25%;
      }
      @media (min-width: 675px) and (max-width: 865px) {
        width: 48%;
        margin: .5rem 1%;
      }
      @media (max-width: 675px) {
        width: 100%;
        margin: .5rem 0;
      }
      padding: .5rem 1rem;
      border-radius: 3px;
      float: left;
      &[type=text] {
        @media (min-width: 865px) {
          width: 24%;
          margin-right: 1%;
        }
      }
      background: #f4f6f7;
      border: 0;
    }
  }
}

.comments {
  .comment {
    &.reply {
      padding-left: 3.75rem;
      @media screen and (max-width: 865px) {
        padding-left: 2.75rem;
      }
      @media screen and (max-width: 675px) {
        padding-left: 0.75rem;
      }
    }
    .avatar-control {
      float: left;
      margin-right: 1rem;
      @media screen and (max-width: 675px) {
        margin-right: 0.75rem;
      }
      line-height: 0;
    }
    .avatar {
      width: 3.5rem;
      @media screen and (max-width: 675px) {
        width: 3rem;
      }
      height: auto;
      padding: 0;
      border-radius: 50%;
    }
    .comment-control {
      float: left;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      a {
        margin-left: 0.25em;
        &.username {
          font-weight: bold;
          margin-left: 0;
          margin-right: 0.25em;
        }
      }
      span {
        margin-left: 0.25em;
        margin-right: 0.25em;
        font-size: 14px;
        font-weight: 300;
        color: #555555;
        padding: 0.3em;
        background-color: #efefef;
        border-radius: 0.25em;
      }
      label {
        margin-left: 0.25em;
        margin-right: 0.25em;
        font-size: 16px;
        font-family: "Source Han Sans CN Light";
      }
    }
  }
  padding-bottom: 1rem;
}

.no-more {
  text-align: center;
}

.comment-content {
  a {
    text-decoration: none;
  }
  p {
    margin-bottom: 0;
  }
}
