body {
  margin: 0;
  padding: 0;
}

.expand {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.page {
  padding-top: 35px;
}

.center,.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}