body {
  margin: 0;
  padding: 0;
}

.expand {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.page {
  padding-top: 2.15rem;
  @media (max-width: 675px) {
    padding-top: 0;
  }
}

.page-control {
  padding: 0.875rem 1.75rem;
  @media (max-width: 675px) {
    padding: 0.8rem 1rem;
  }
}

.page-container {
  background: #fff;
  margin: 0 0 1.75rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
}

.pagination {
  .nav-links {
    position: relative;
    text-align: center;
    height: 48px;
    .prev {
      left: 0;
    }
    .prev, .next {
      color: #a0a0a0;
      display: inline-block;
      font-size: 16px;
      line-height: 48px;
      padding: 0 16px;
      overflow: hidden;
      position: absolute;
    }
    .next {
      right: 0;
    }
    .page-number {
      display: inline-block;
      line-height: 48px;
      padding: 0 12px;
      font-size: 14px;
      color: #a0a0a0;
    }
  }
}

.center,.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
