.full-page-loader {
  display: block;
  position: relative;
  height: 300px;
  h1 {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 220px;
    transform: translate(-50%);
  }
  .lds-pacman {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 200px;
  }
  @keyframes lds-pacman-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes lds-pacman-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes lds-pacman-2 {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    50% {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @-webkit-keyframes lds-pacman-2 {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    50% {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes lds-pacman-3 {
    0% {
      -webkit-transform: translate(190px, 0);
      transform: translate(190px, 0);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(70px, 0);
      transform: translate(70px, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes lds-pacman-3 {
    0% {
      -webkit-transform: translate(190px, 0);
      transform: translate(190px, 0);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(70px, 0);
      transform: translate(70px, 0);
      opacity: 1;
    }
  }
  .lds-pacman {
    position: relative;
  }
  .lds-pacman > div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #000000;
    -webkit-animation: lds-pacman-1 1s linear infinite;
    animation: lds-pacman-1 1s linear infinite;
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
  }
  .lds-pacman > div:nth-child(2) div:nth-child(2) {
    -webkit-animation: lds-pacman-2 1s linear infinite;
    animation: lds-pacman-2 1s linear infinite;
  }
  .lds-pacman > div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #424242;
    -webkit-animation: lds-pacman-3 1s linear infinite;
    animation: lds-pacman-3 1s linear infinite;
  }
  .lds-pacman > div:nth-child(1) div:nth-child(1) {
    -webkit-animation-delay: -0.67s;
    animation-delay: -0.67s;
  }
  .lds-pacman > div:nth-child(1) div:nth-child(2) {
    -webkit-animation-delay: -0.33s;
    animation-delay: -0.33s;
  }
  .lds-pacman > div:nth-child(1) div:nth-child(3) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
}

.classical-loader {
  margin: 1.875rem auto;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  .container1 > div, .container2 > div, .container3 > div {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #444;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }

  .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }

  .circle1 {
    top: 0;
    left: 0;
  }
  .circle2 {
    top: 0;
    right: 0;
  }
  .circle3 {
    right: 0;
    bottom: 0;
  }
  .circle4 {
    left: 0;
    bottom: 0;
  }

  .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }

  .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }

  .container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }

  .container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }

  .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }

  .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }

  .container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }

  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0.0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}

.inline-loader {
  display: inline-block;
  line-height: 0;
  .loader-inner {
    display: inline-block;
    line-height: 0;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.6);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }

  .ball-clip-rotate {

    > div {

      animation-fill-mode: both;
      border-radius: 100%;
      border: 0.125rem solid #a0a0a0;
      border-bottom-color: transparent;
      height: 0.55rem;
      width: 0.55rem;
      background: transparent !important;
      display: inline-block;
      animation: rotate 0.75s 0s linear infinite;
    }
  }
}
