.top .foot {
  position: relative;
  z-index: 700;
}

.top-container {
  position: sticky;
  top: 0;
  z-index: 700;
}

.top {
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
  border-top: 8px solid;
  .top-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url(../images/banner.svg);
    background-position-x: center;
    background-position-y: -130px;
    background-size: 800px 600px;
  }
  .header {
    position: relative;
    a {
      &.active, &:hover {
        color: #fff !important;
        h1 {
          color: #fff !important;
        }
      }
    }

    @media (min-width: 675px) {
      .mobile-show {
        display: none !important;
      }
    }
    @media (max-width: 675px) {
      .nav-container {
        display: none !important;
      }
    }
    .logo-container {
      transition: all 0.75s;
      float: left;
      width: 100%;
      &.collapse {
        width: auto;
        h1 {
          @media (max-width: 370px) {
            font-size: 26px;
            margin-top: 24px;
          }
          @media (min-width: 370px) {
            font-size: 33px;
          }
          padding: 0 15px;
        }
      }
      @media (max-width: 865px) {
        width: auto !important;
        h1 {
          @media (max-width: 370px) {
            font-size: 26px !important;
            margin-top: 24px !important;
          }
          @media (min-width: 370px) {
            font-size: 33px !important;
          }
          padding: 0 15px !important;
        }
      }
      h1 {
        transition: all 0.75s;
        text-align: center;
        margin-top: 19px;
        font-family: 'Sunflower', 'Microsoft YaHei', 'STHeiti', 'SimHei', sans-serif;
        text-transform: uppercase;
        font-size: 65px;
        line-height: normal;
        padding: 150px;
      }
    }
    .nav-container {
      float: right;
      height: 77px;
      width: 100%;
      &.collapse {
        width: auto;
        .collapse-hide {
          display: none !important;
        }
        .collapse-show {
          display: block !important;
        }
        @media (max-width: 900px) {
          .social {
            display: none;
          }
        }
      }
      @media (max-width: 865px) {
        width: auto !important;
        .collapse-hide {
          display: none !important;
        }
        .collapse-show {
          display: block !important;
        }
        @media (max-width: 900px) {
          .social {
            display: none !important;
          }
        }
      }
      @media (min-width: 865px) and (max-width: 975px) {
        .collapse-hide {
          display: none !important;
        }
        .collapse-show {
          display: block !important;
        }
      }
      @media (min-width: 975px) {
        .collapse-show {
          display: none !important;
        }
      }
      .top-menu {
        margin-left: 20px;
        margin-right: 20px;
        float: left;
        li {
          display: block;
          float: left;
          line-height: 77px;
          padding-right: 0.75rem;
          position: relative;
          a {
            display: block;
            padding: 0 1.25rem;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Permanent Marker', winmantun23001128051bbbd61f9, cursive;
          }
        }
      }
      .social {
        float: right;
      }
    }
    .icon {
      float: left;
      height: 77px;
      padding: 0 7px;
      display: inline-block;
      @media (max-width: 350px) {
        font-size: 22px !important;
      }
      font-size: 26px;
      vertical-align: top;
      a {
        display: block;
        line-height: 77px;
        height: 77px;
        padding: 0 7px;
      }
    }
  }
}

.sidebar {
  background-color: white;
  min-height: 100%;
  .sidebar-banner {
    height: 4.5625rem;
    padding-top: 3.5625rem;
    text-align: center;
  }
  .top-menu {
    li {
      display: block;
      line-height: 1.75rem;
      padding: 0.75rem;
      a {
        display: block;
        padding: 0 1.25rem;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Permanent Marker', winmantun23001128051bbbd61f9, cursive;
      }
    }
  }
  .social {
    .icon {
      float: left;
      display: inline-block;
      font-size: 1.25rem;
      vertical-align: top;
      a {
        display: block;
        line-height: 77px;
        height: 77px;
        padding: 0 1.171875rem;
      }
    }
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
