.page-container {
  .fee {
    border-bottom: 1px dashed #e0e0e0;
  }
  .eef {
    border-top: 1px dashed #e0e0e0;
  }
  .title {
    font-size: 1.125rem;
    padding: 1.25rem 1.75rem 1.25rem;
  }
  .info {
    padding: 0.875rem 1.75rem;
    span {
      &:before {
        margin-right: 0.5rem;
      }
      margin-right: 1.25rem
    }
    .tag-link::after, .category-link::after {
      content: ', ';
    }
    .tag-link:last-child::after, .category-link:last-child::after {
      content: '';
    }
  }
  .info, .info a {
    color: #a0a0a0;
    font-size: 0.8rem;
  }
  .content {
    padding: 1.25rem 1.75rem 1.25rem;
  }
}
