.page-container {
  .fee {
    border-bottom: 1px dashed #e0e0e0;
  }
  .eef {
    border-top: 1px dashed #e0e0e0;
  }
  .title {
    font-size: 1.125rem;
    padding: 1.25rem 1.75rem 1.25rem;
  }
  .info {
    padding: 0.875rem 1.75rem;
    span {
      &:before {
        margin-right: 0.5rem;
      }
      margin-right: 1.25rem
    }
  }
  .info, .info a {
    color: #a0a0a0;
    font-size: 0.8rem;
  }
  .content {
    font-family: 'PT Serif', Georgia, Times, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    letter-spacing: 0.009rem;
    padding: 1.25rem 1.75rem 1.25rem;
    border-bottom: 1px dashed #e0e0e0;
    line-height: 1.9;
    code, pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      white-space: -moz-pre-wrap;
    }
  }
}
