.page-container {
  .post-title-link {
    color: #444;
  }
  @media (max-width: 675px) {
    .fas {
      font-weight: 500;
    }
  }
  .fee {
    border-bottom: 1px dashed #e0e0e0;
  }
  .eef {
    border-top: 1px dashed #e0e0e0;
  }
  .title {
    font-size: 1.125rem;
  }
  .info {
    span {
      &:before {
        margin-right: 0.5rem;
      }
      margin-right: 1.25rem
    }
    .tag-link::after, .category-link::after {
      content: ', ';
    }
    .tag-link:last-child::after, .category-link:last-child::after {
      content: '';
    }
  }
  .info, .info a {
    color: #a0a0a0;
    font-size: 0.8rem;
  }
  .content {
  }
}
