.settings {
  ul {
    padding: 0.25rem;
    display: block;
    li {
      float: left;
      display: block;
      list-style-type: none;
      width: calc(100% / 3);
      @media (max-width: 900px) and(min-width: 675px) {
        width: 50%;
      }
      @media (max-width: 675px) {
        width: 100%;
      }
      a {
        display: block;
        vertical-align: center;
        div {
          float: left;
        }
        .color {
          width: 2rem;
          height: 2rem;
          background-color: #000;
          border-radius: 50%;
        }
        .name {
          line-height: 2rem;
          margin-left: 0.625rem;
          font-size: 1.25rem;
          color: #444;
          font-family: 'PT Serif', Georgia, Times, 'PingFang SC', 'Microsoft YaHei', sans-serif;
        }
      }
      margin: 0.625rem 0;
    }
    li.active .color {
      width: 1.375rem;
      height: 1.375rem;
      background-color: white !important;
      border: #000 5px solid;
    }
  }
  input {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: #000;
    border: none;
    color: #fff;
    &[disabled] {
      background-color: #6c757d;
      opacity: .65;
      cursor: default;
    }
  }
}